@import './style.css';
@import './burger-menu.css';
@import './feedback-phone.css';
@import './feedback.css';

$bgColor: #24292e;
$text: #fff;

@font-face {
  font-family: 'Comic';
  src: url('../fonts/comic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  margin: 0;
  font-family: Comic, sans-serif;
  background-color: $bgColor;
  color: $text;
  background: #F8F8F8;
}
